apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: homelab
spec:
  goTemplate: true
  goTemplateOptions: ["missingkey=error"]
  generators:
    - git:
        repoURL: https://github.com/pcjun97/homelab
        revision: HEAD
        directories:
          - path: kustomize/*
  template:
    metadata:
      name: "{{ .path.basename }}"
    spec:
      project: default
      source:
        repoURL: https://github.com/pcjun97/homelab
        targetRevision: HEAD
        path: "{{ .path.path }}"
      destination:
        name: in-cluster
