apiVersion: v1
kind: Namespace
metadata:
  name: backup
---
apiVersion: v1
kind: Secret
metadata:
  name: backup
  namespace: backup
stringData:
  b2_key_id: {{ cluster_bootstrap_b2_key_id.user_input | to_json }}
  b2_application_key: {{ cluster_bootstrap_b2_app_key.user_input | to_json }}
  bucket: {{ cluster_bootstrap_b2_bucket.user_input | to_json }}
  ntfy_topic: {{ cluster_bootstrap_backup_ntfy_topic.user_input | to_json }}
