apiVersion: v1
kind: Namespace
metadata:
  name: tailscale
---
apiVersion: v1
kind: Secret
metadata:
  name: operator-oauth
  namespace: tailscale
stringData:
  client_id: {{ cluster_bootstrap_ts_client_id.user_input | to_json }}
  client_secret: {{ cluster_bootstrap_ts_client_secret.user_input | to_json }}
